header {
    height: 20vh;
    width: 70vw; 
    background-color: white;
}

.background {
    height: 427px;
    background: no-repeat center center / cover url(/vetements/css/img-vetements-femme/background.png);
}

.article {
    max-width: 1500px;
    color: #fff;
    display: inline-block;
    margin: 30px 35px;
}

article.product-card{
    border-radius: 15px;
    display: inline-block;
    height: 250px;
    cursor: pointer;
    position: relative;
    width: 33%;
    text-align: center;
    margin-bottom: 15em;
}
article img{
    width: 2048;
    height: 2048;
    max-width: 300px;

}
article header{
    align-items: center;
    margin-top: 3em;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
}
article h1{
    font-size: 14px;
    color: gray;
}
article h2{
    font-size: large;
    color: black;
}
article h3{
    font-size: 16px;
    color: red;
}
.bouton {
    width: 150px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: cornflowerblue;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;   
    transition: all 1s ease-out;
}
.bouton:hover,.bouton:focus{
    border-radius: 0px;
    background-color: palevioletred ;
}

